extends ../layout

block content
   h1= title
   p Здесь вы можете найти список всех водителей, которые есть в системе
   ul
   for driver in drivers
     li
        a(href='/drivers/' + driver._id)=driver.name
   div(class='spacer')
   a(href='/drivers/add') Добавить