extends ../layout
block content
    h1= title
    form(method='post')
       label(for='name') Имя
       br
       input(id='name', name='name')
       br
       input(type='submit', value='Добавить')
    if error
        p= error
    div(class='spacer')
    a(href='./') Просмотреть список